body {
	margin: 0px;
	padding: 0px 5px;
	overflow-x: hidden;
}

#report {
	margin: 0 auto;
	padding: 0px;
}

.inline {
	display: inline-block !important;
	vertical-align: top;
}

.matrix table {
	border-collapse: separate;
	border-spacing: 0.5em;
	empty-cells: hide;
}

.matrix .label {
	font-weight: initial;
}

.matrix .label a {
	color: inherit;
}

.matrix th {
	background: lightgrey;
	padding: 0.5em;
}